
body { 
  padding-top: 50px;
  transition: all 0.8s ease 0s;
}


img {
  max-width: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0; padding: 0;
}

#sidebar {
}

#sidebar ul.sidebar-items li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  clear: left;
  position: relative;
}

#sidebar ul.sidebar-items li a {
  padding: 10px 15px;
  display: block;
  font-weight: 400;
}

#sidebar ul.sidebar-items li div.title {
  width: 170px;
  display: block;
}

#sidebar ul.sidebar-items li div.count {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  justify-content: center;
  align-items: center;
}

#main {
  position: fixed;
  overflow-y: auto;
  overflow-x: hide;
  right: 0;
  top: 51px;
  bottom: 0;
  left: 250px;
  transition: all 0.4s ease 0s;
}

.clear {
  clear: both;
}

.entry-title {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding: 8px 15px 8px 15px;
}

div.entry {
  border-style: solid;
  border-width: 1px;
  margin-bottom: 10px;
  border-radius: 5px;
}

div.entry div.meta {
  font-size: 0.8em;
  padding: 8px 15px 8px 15px;
  margin-bottom: 0;
}

div.entry div.meta div.meta-right a.btn {
  transition: all 0.4s ease 0s;
}

div.entry div.meta div.meta-left {
  padding-top: 5px;
}

div.entry .content {
  padding: 12px 15px 12px 15px;
  margin-bottom: 0;
}

div.entry span.time {
  color: #aaa;
}

div.entry span.glyphicon-button {
  /*padding: 8px 22px 0 8px*/
  margin: 8px 8px 0 8px;
}


.popover-content {
  max-height: 200px;
  min-width: 200px;
  overflow-y: auto;
}


.eksi-nav {
  position: fixed;
  margin-left: 250px;
}

.eksi-nav ul li a {
  padding-left: 8px;
  padding-right: 8px;
}

.page-nav {
  width: 250px;
  border-right: 1px dashed #e7e7e7;
}

.page-nav ul li a {
  padding-left: 10px;
  padding-right: 10px;
}

ul.dropdown-menu li a {
  padding: 3px 20px;
}

div.entry-dropdown {
  margin-left: 5px;
}


/* SIDEBAR */

#wrapper {
  padding-left: 250px;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
  top: 51px;
  bottom: 0;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  position: absolute;
  display: block;
  left: 250px;
  right: 0;
  top: 0;
  bottom: 0;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 10px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#main {
  left: 0;
  transition: all 0.4s ease 0s;
}

.page-nav {
  display: none;
}

.eksi-nav {
  margin-left: 0;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 0;
}

div.entry {
  margin-bottom: 3px;
  border: none;
  border-radius: 0;
}

.navbar-collapse {
  max-height: none;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: 5px;
}

}


/* /SIDEBAR */


/* SCROLLBAR */

::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}


/* CONF */

div.eksi-okuyucu-conf ul.theme {
  display: inline;
}

div.eksi-okuyucu-conf ul.theme li {
  display: inline;
}

div.eksi-okuyucu-conf ul.theme li a {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  overflow: hidden;
}


div.eksi-okuyucu-conf ul.theme li a.theme-default {
  background-color: #40a6ff;
}


div.eksi-okuyucu-conf ul.theme li a.theme-dark {
  background-color: #333;
}

div.eksi-okuyucu-conf ul.theme li a.theme-fb {
  background-color: #3B5998;
}


div.eksi-okuyucu-conf ul.theme li a.theme-twitter {
  background-color: #4099FF;
}

div.eksi-okuyucu-conf ul.theme li a.theme-antik{
  background-color: #660066;
}



/* THEMES */
/* FIXME: old theme system was better */

/* DEFAULT THEME */

body.theme-default,
body.theme-default h1,
body.theme-default h2,
body.theme-default h3,
body.theme-default h4,
body.theme-default h5,
body.theme-default h6 {
  color: #333;
}


body.theme-default * {
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}


body.theme-default #sidebar ul.sidebar-items li a {
  color: #333;
}

body.theme-default #main {
  background-color: #e9eaed;
}

body.theme-default div.entry {
  background-color: #fff;
}

body.theme-default div.entry div.meta {
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  border-color: #eee;
}

body.theme-default div.entry div.meta div.meta-right a.btn {
  color: #999;
}

body.theme-default div.entry:hover div.meta div.meta-right a.btn {
  color: #333;
}

body.theme-default .entry-title {
  border-color: #e5e6e9;
}


/* DARK THEME */

body.theme-dark,
body.theme-dark h1,
body.theme-dark h2,
body.theme-dark h3,
body.theme-dark h4,
body.theme-dark h5,
body.theme-dark h6 {
  color: #aaa;
}

body.theme-dark {
  background-color: #111;
}

body.theme-dark .navbar {
  background-color: #333;
}

body.theme-dark .navbar a {
  color: #fff;
}

body.theme-dark .navbar a:hover {
  color: #ccc;
}

body.theme-dark .navbar a:focus {
  color: #fff;
}


body.theme-dark .popover {
  background-color: #333;
  border-color: #222;
}

body.theme-dark .dropdown-menu {
  background-color: #333;
}

body.theme-dark .dropdown-menu li a {
  color: #ddd;
}


body.theme-dark .dropdown-menu li a:hover {
  color: #ddd;
  background-color: #444;
}


body.theme-dark * {
  border-color: #222;
}

body.theme-dark #sidebar ul.sidebar-items li a {
  color: #aaa;
}


body.theme-dark ::-webkit-scrollbar {
  height: 16px;
  width: 16px;
}

body.theme-dark ::-webkit-scrollbar-thumb {
  background-color: #333;
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
}

body.theme-dark ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

body.theme-dark ::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

body.theme-dark div.entry div.meta {
  color: #666;
}

body.theme-dark div.entry span.time {
  color: #333;
}


body.theme-dark #main {
  background-color: #000;
}

body.theme-dark div.entry {
  background-color: #111;
}

body.theme-dark div.entry div.meta {
  border-color: #222;
}

body.theme-dark div.entry div.meta div.meta-right a.btn {
  color: #ccc;
  background-color: #000;
}

.navbar-eksi {
  position: absolute;
  left: 255px;
}

.menu-title {
  display: none;
}

@media (max-width:767px) {
.navbar-eksi {
  position: relative;
  float: none;
  left: 0;
}

.menu-title {
  display: inline;
}
}

