
/* THEMES */

/* DEFAULT THEME */

.navbar a { color: inherit; }

body.theme-default {
  #sidebar-wrapper {
    box-shadow: 2px 0px 20px 0px rgba(50, 50, 50, 0.25);
  }

  #main { background-color: #e9eaed; }

  div.entry div.meta { span.time      { color: #aaa; } }
}



/* Cyborg */

body.theme-cyborg {

  #main { top: 51px; background-color: #111; }
  #sidebar-wrapper { top: 51px; }

}

/* Darkly */

body.theme-darkly {

  #main { top: 61px; background-color: #111; }
  #sidebar-wrapper { top: 61px; }

}


/* Flatly */

body.theme-flatly {

  #main { top: 60px; background-color: #eee; }
  #sidebar-wrapper { top: 60px; }

  #sidebar-wrapper {
    box-shadow: 2px 0px 20px 0px rgba(50, 50, 50, 0.25);
  }

  div.panel { box-shadow: 0px 0px 15px #ccc; }

}


body.theme-spacelab {
  #main { top: 52px; background-color: #eee; }
  #sidebar-wrapper { top: 52px; }

  #sidebar-wrapper {
    box-shadow: 2px 0px 20px 0px rgba(50, 50, 50, 0.25);
  }
}


/* Paper */
body.theme-lumen {
  #main { top: 54px; background-color: #eee; }
  #sidebar-wrapper { top: 54px; }

  #sidebar-wrapper {
    box-shadow: 2px 0px 20px 0px rgba(50, 50, 50, 0.25);
  }
}
