<div class="eksi-okuyucu-conf">

<h3>Tema</h3>

  <ul class="theme">
    <li><a href="#default" class="theme-default"></a></li>
    <li><a href="#dark" class="theme-dark"></a></li>
  </ul>

  <hr />

<h3>İçerik</h3>

<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Dış bağlantıları uygulama içerisinde göster
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="">
    Youtube videolarını uygulama içerisinde göster
  </label>
</div>

</div>
