

<% _.each(entries, function (entry) { %>

<div class="entry border-color-1" id="entry-<%= entry.id %>">


<div class="dropdown">
  <a href="#" id="entry-drop-<%= entry.id %>" role="button" class="dropdown-toggle" data-toggle="dropdown" title="Kanallar"></a>
  <ul id="entry-dropdown-<%= entry.id %>" class="dropdown-menu" data-toggle="dropdown" role="menu" aria-labelledby="order-drop">
   <li class="dropdown-header">#<%= entry.id %></li>
   <li><a href="#favori"><span class="glyphicon glyphicon-star"></span> Favori</a></li>
   <li><a href="#sukela"><span class="glyphicon glyphicon-heart"></span> Şükela</a></li>
   <li><a href="https://eksisozluk.com/entry/<%= entry.id %>" target="_blank"><span class="glyphicon glyphicon-tint"></span> Ekşisözlükte aç</a></li>
  </ul>
</div>

  <% if (typeof (entry_title) != 'undefined') { %>

  <h4><a href="#t/2/<%= external_url %>"><%= entry_title %></a></h4>

  <% } %>

  <p class="meta">

    <span class="author">
      <span class="glyphicon glyphicon-user"></span> <%= entry.author %>
    </span>

    <span class="time">
      -
      <%= entry.creationTime %>
    </span>
  
  </p>

  <p id="entry-content-<%= entry.id %>" class="content">
    <%= entry.content %>
  </p>

</div>

<% }); %>
