

<% _.each(entries, function (entry) { %>

<div class="entry border-color-1">

  <% if (typeof (entry_title) != 'undefined') { %>

  <h3><a href="#t/2/<%= external_url %>"><%= entry_title %></a></h3>

  <% } %>

  <p class="meta">

    <span class="author">
      <span class="glyphicon glyphicon-user"></span> <%= entry.author %>
    </span>

    <span class="time">
      -
      <%= entry.creationTime %>
    </span>
  
  </p>

  <p class="content">
    <%= entry.rawContent %>
  </p>

</div>

<% }); %>
