<nav id="navbar-example" class="navbar navbar-default navbar-fixed-top eksi-nav" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-example-js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" id="title"><%= title %></a>
    </div>
    <div class="collapse navbar-collapse bs-example-js-navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-refresh"></span></a></li>
        <li class="dropdown">
         <a href="#" id="order-drop" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-sort"></span></a>
         <ul class="dropdown-menu" role="menu" aria-labelledby="order-drop">
           <li class="dropdown-header">Sıralama</li>
           <li><a href="#t/0/<%= external_url %>"><span class="glyphicon glyphicon-sort-by-order"></span> Baştan sona</a></li>
           <li><a href="#t/1/<%= external_url %>"><span class="glyphicon glyphicon-sort-by-order-alt"></span> Sondan başa</a></li>
           <li><a href="#t/2/<%= external_url %>"><span class="glyphicon glyphicon-tint"></span> Bugün</a></li>
           <li><a href="#t/3/<%= external_url %>"><span class="glyphicon glyphicon-heart"></span> $ükela</a></li>
         </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
