<li><a href="#" id="refresh-topic"><span class="glyphicon glyphicon-refresh"></span><span class="menu-title"> Yenile</span></a></li>
<li class="dropdown">
 <a href="#" id="order-drop" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-sort"></span> <span class="menu-title"> Sıralama</span></a>
 <ul class="dropdown-menu" role="menu" aria-labelledby="order-drop">
   <li class="dropdown-header">Sıralama</li>
   <li><a href="#t/0/<%= external_url %>"><span class="glyphicon glyphicon-sort-by-order"></span> Baştan sona</a></li>
   <li><a href="#t/1/<%= external_url %>"><span class="glyphicon glyphicon-sort-by-order-alt"></span> Sondan başa</a></li>
   <li><a href="#t/2/<%= external_url %>"><span class="glyphicon glyphicon-tint"></span> Bugün</a></li>
   <li><a href="#t/3/<%= external_url %>"><span class="glyphicon glyphicon-heart"></span> $ükela</a></li>
 </ul>
</li>
