

<% _.each(entries, function (entry) { %>

<div class="entry border-color-1" id="entry-<%= entry.id %>">

  <% if (typeof (entry_title) != 'undefined') { %>

  <h4 class="entry-title"><a href="#t/2/<%= external_url %>"><%= entry_title %></a></h4>

  <% } %>

  <p id="entry-content-<%= entry.id %>" class="content">
    <%= entry.content %>
  </p>

  <div class="meta">

    <div class="row">
      <div class="col-xs-6 col-md-6 meta-left">
        <span class="author">
          <span class="glyphicon glyphicon-user"></span> <%= entry.author %>
        </span>

        <span class="time">
          -
          <%= entry.creationTime %>
        </span>
        
      </div>
      <div class="col-xs-6 col-md-6 text-right meta-right">

        <div class="btn-group btn-group-xs">
          <a href="#favori" class="btn btn-default" title="Favori"><span class="glyphicon glyphicon-star"></span></a>
          <a href="#sukela" class="btn btn-default" title="Şükela"><span class="glyphicon glyphicon-heart"></span></a>
          <a href="https://eksisozluk.com/entry/<%= entry.id %>button" class="btn btn-default" title="Ekşisözlükte aç"><span class="glyphicon glyphicon-tint"></span></a>
        </div>
        
      </div>
    </div>

  </div>

</div>

<% }); %>
