<nav id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
     <div class="navbar-header navbar-right navbar-eksi">
       <button id="left-frame-toggle" class="navbar-toggle glyphicon glyphicon-step-backward" type="button" data-toggle="collapse"></button>
       <button id="navbar-toggle" class="navbar-toggle glyphicon glyphicon-tint" type="button" data-toggle="collapse" data-target=".navbar-eksi-okuyucu"></button>
       <span id="navbar-title" class="navbar-brand" href="#">Ekşi Okuyucu</span>
     </div>
     <div class="collapse navbar-collapse navbar-eksi-okuyucu">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#" title="Arama" data-toggle="modal" data-target="#search-modal"><span class="glyphicon glyphicon-search"></span><span class="menu-title"> Arama</span></a></li>
        <li class="dropdown">
        <a href="#" id="user-drop" role="button" class="dropdown-toggle" data-toggle="dropdown" title="Ben"><span class="glyphicon glyphicon-user"></span><span class="unread-count"></span><span class="menu-title"> Ben</span></a>
          <ul id="ben-items" class="dropdown-menu" role="menu" aria-labelledby="user-drop">
           <li><a id="ben-login" href="#"><span class="glyphicon glyphicon-log-in"></span> Giriş</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" id="channels-drop" role="button" class="dropdown-toggle" data-toggle="dropdown" title="Kanallar"><span class="glyphicon glyphicon-tasks"></span><span class="menu-title"> Kanallar</span></a>
          <ul id="channels" class="dropdown-menu" role="menu" aria-labelledby="order-drop">
           <li><a href="#hot"><span class="glyphicon glyphicon-fire"></span> Gündem</a></li>
           <li><a href="#hot/bugun"><span class="glyphicon glyphicon-comment"></span> Bugün</a></li>
           <li class="divider"></li>
           <li><a href="#hot/anket">#anket</a></li>
           <li><a href="#hot/bilim">#bilim</a></li>
           <li><a href="#hot/edebiyat">#edebiyat</a></li>
           <li><a href="#hot/ekşi-sözlük">#ekşi-sözlük</a></li>
           <li><a href="#hot/ilişkiler">#ilişkiler</a></li>
           <li><a href="#hot/müzik">#müzik</a></li>
           <li><a href="#hot/oyun">#oyun</a></li>
           <li><a href="#hot/programlama">#programlama</a></li>
           <li><a href="#hot/sanat">#sanat</a></li>
           <li><a href="#hot/sinema">#sinema</a></li>
           <li><a href="#hot/siyaset">#siyaset</a></li>
           <li><a href="#hot/spor">#spor</a></li>
           <li><a href="#hot/tarih">#tarih</a></li>
           <li><a href="#hot/teknoloji">#teknoloji</a></li>
           <li><a href="#hot/tv">#tv</a></li>
          </ul>
        </li>
        <li><a href="#debe" title="Dünün en beğenilen entryleri"><span class="glyphicon glyphicon-star"></span><span class="menu-title"> Debe</span></a></li>
        <li><a href="#sukela" title="$ükela"><span class="glyphicon glyphicon-heart"></span><span class="menu-title"> Şükela</span></a></li>
        <li><a href="#conf" title="Ayarlar"><span class="glyphicon glyphicon-cog"></span><span class="menu-title"> Ayarlar</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>



<div id="search-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="input-group">
          <input type="text" class="form-control" id="search-input" placeholder="Aranacak kelimeyi giriniz">
          <a href="#" class="input-group-addon btn btn-default" data-action="clear"><span class="glyphicon glyphicon-trash"></span></a>
          <a href="#" class="input-group-addon btn btn-default" data-dismiss="modal" aria-label="Close"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
        <div id="search-results" class="list-group"></div>
      </div>
    </div>
  </div>
</div>


<div id="wrapper">

  <div id="sidebar-wrapper">
    
    <div id="sidebar"></div>

  </div>

  <div id="page-content-wrapper">

    <div class="inset" id="main"></div>

    <div id="loader" class="loader-walk">
      <div></div><div></div><div></div><div></div><div></div>
    </div>

  </div>

</div>
