<div class="eksi-okuyucu-conf">

  <div class="panel panel-default">

    <div class="panel-body">

      <h4>Tema</h4>

      <ul class="theme">
        <li><a href="#default" class="theme-default"></a></li>
        <li><a href="#dark" class="theme-dark"></a></li>
      </ul>

      <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-4">

          <h4>Font</h4>

          <ul class="list-group font">
            <a href="#default" class="list-group-item<% if (options.font == 'default') { %> active<% } %>">Varsayılan</a>
            <a href="#source_sans_pro" class="list-group-item<% if (options.font == 'source_sans_pro') { %> active<% } %>">Source Sans Pro</a>
            <a href="#fira_sans" class="list-group-item<% if (options.font == 'fira_sans') { %> active<% } %>">Fira Sans</a>
            <a href="#libre_baskerville" class="list-group-item<% if (options.font == 'libre_baskerville') { %> active<% } %>">Libre Baskerwille</a>
          </ul>

        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">

          <h4>Satır Aralığı</h4>

          <ul class="list-group line-height">
            <a href="#default" class="list-group-item<% if (options.font == 'default') { %> active<% } %>">1.2em</a>
            <a href="#default" class="list-group-item<% if (options.font == 'default') { %> active<% } %>">1.5em</a>
            <a href="#source_sans_pro" class="list-group-item<% if (options.font == 'source_sans_pro') { %> active<% } %>">2em</a>
            <a href="#default" class="list-group-item<% if (options.font == 'default') { %> active<% } %>">2.5em</a>
          </ul>

        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">

          <h4>Karakter Aralığı</h4>

          <ul class="list-group letter-spacing">
            <a href="#default" class="list-group-item<% if (options.font == 'default') { %> active<% } %>">1.2em</a>
            <a href="#default" class="list-group-item<% if (options.font == 'default') { %> active<% } %>">1.5em</a>
            <a href="#source_sans_pro" class="list-group-item<% if (options.font == 'source_sans_pro') { %> active<% } %>">2em</a>
            <a href="#default" class="list-group-item<% if (options.font == 'default') { %> active<% } %>">2.5em</a>
          </ul>

        </div>

      </div>

    </div>

  </div>

  <div class="panel panel-default">

    <div class="panel-body">

      <h4>Ana Sayfa</h4>

      <p><em>Uygulamayı başlattığınızda ana sayfada görmek istedikleriniz</em></p>

      <div>
        <select id="index-page" class="form-control">

          <option <% if (options.index == 'Gündem') { %>selected<% } %>>Gündem</option>
          <option <% if (options.index == 'Bugün') { %>selected<% } %>>Bugün</option>
          <option <% if (options.index == 'Debe') { %>selected<% } %>>Debe</option>
          <option <% if (options.index == '$ükela') { %>selected<% } %>>$ükela</option>
          <option <% if (options.index == '#anket') { %>selected<% } %>>#anket</option>
          <option <% if (options.index == '#bilim') { %>selected<% } %>>#bilim</option>
          <option <% if (options.index == '#edebiyat') { %>selected<% } %>>#edebiyat</option>
          <option <% if (options.index == '#ekşi-sözlük') { %>selected<% } %>>#ekşi-sözlük</option>
          <option <% if (options.index == '#ilişkiler') { %>selected<% } %>>#ilişkiler</option>
          <option <% if (options.index == '#müzik') { %>selected<% } %>>#müzik</option>
          <option <% if (options.index == '#oyun') { %>selected<% } %>>#oyun</option>
          <option <% if (options.index == '#programlama') { %>selected<% } %>>#programlama</option>
          <option <% if (options.index == '#sanat') { %>selected<% } %>>#sanat</option>
          <option <% if (options.index == '#sinema') { %>selected<% } %>>#sinema</option>
          <option <% if (options.index == '#siyaset') { %>selected<% } %>>#siyaset</option>
          <option <% if (options.index == '#spor') { %>selected<% } %>>#spor</option>
          <option <% if (options.index == '#tarih') { %>selected<% } %>>#tarih</option>
          <option <% if (options.index == '#teknoloji') { %>selected<% } %>>#teknoloji</option>
          <option <% if (options.index == '#tv') { %>selected<% } %>>#tv</option>

        </select>
      </div>

    </div>

  </div>

  <div class="panel">

    <div class="panel-body">

      <h4>İçerik</h4>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="popover" <% if (options.popover) { %>checked<% } %>>
          İç bağlantıların ilk entrysini kutu içerisinde göster
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="readability" <% if (options.readability) { %>checked<% } %>>
          Dış bağlantıları uygulama içerisinde göster
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="youtube" <% if (options.youtube) { %>checked<% } %>>
          Youtube videolarını uygulama içerisinde göster
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="images" <% if (options.images) { %>checked<% } %>>
          Resimleri uygulama içerisinde göster
        </label>
      </div>

    </div>

  </div>

</div>
