<% var channels = [ '#anket', '#bilim', '#edebiyat', '#ekşi-sözlük',
           '#ilişkiler', '#müzik', '#oyun', '#programlama', '#sanat',
           '#sinema', '#siyaset', '#spor', '#tarih', '#teknoloji', '#tv' ]; %>

<div class="eksi-okuyucu-conf">

  <div class="panel panel-default">

    <div class="panel-heading">

      <h4 class="panel-title">Tema</h4>

    </div>

    <div class="panel-body">

      <ul class="theme">
        <li><a href="#yeti" class="theme-yeti"></a></li>
        <li><a href="#cyborg" class="theme-cyborg"></a></li>
        <li><a href="#darkly" class="theme-darkly"></a></li>
        <li><a href="#flatly" class="theme-flatly"></a></li>
        <li><a href="#spacelab" class="theme-spacelab"></a></li>
        <li><a href="#lumen" class="theme-lumen"></a></li>
      </ul>

    </div>

  </div>


  <div class="panel panel-default">

    <div class="panel-heading">

      <h4 class="panel-title">Font</h4>

    </div>

    <div class="panel-body">

      <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-4">

          <div class="list-group font">
            <a href="#default" class="list-group-item<% if (options.font == 'default') { %> active<% } %>">Varsayılan</a>
            <a href="#source_sans_pro" class="list-group-item<% if (options.font == 'source_sans_pro') { %> active<% } %>">Source Sans Pro</a>
            <a href="#libre_baskerville" class="list-group-item<% if (options.font == 'libre_baskerville') { %> active<% } %>">Libre Baskerwille</a>
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="panel panel-default">

    <div class="panel-heading">

      <h4 class="panel-title">Ana Sayfa</h4>

      <em>Uygulamayı başlattığınızda ana sayfada görmek istedikleriniz</em>

    </div>

    <div class="panel-body">

      <div>
        <select id="index-page" class="form-control">

          <option <% if (options.index == 'Gündem') { %>selected<% } %>>Gündem</option>
          <option <% if (options.index == 'Bugün') { %>selected<% } %>>Bugün</option>
          <option <% if (options.index == 'Debe') { %>selected<% } %>>Debe</option>
          <option <% if (options.index == '$ükela') { %>selected<% } %>>$ükela</option>
          <% _.map(channels, function(channel) { %>
          <option <% if (options.index == channel) { %>selected<% } %>><%= channel %></option>
          <% }); %>

        </select>
      </div>

    </div>

  </div>

  <div class="panel panel-default">

    <div class="panel-heading">

      <h4 class="panel-title">İçerik</h4>

    </div>

    <div class="panel-body">

      <div class="checkbox">
        <label>
          <input type="checkbox" value="popover" <% if (options.popover) { %>checked<% } %>>
          İç bağlantıların ilk entrysini kutu içerisinde göster
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="readability" <% if (options.readability) { %>checked<% } %>>
          Dış bağlantıları uygulama içerisinde göster (Türkçe sitelerde pek iyi çalışmıyor)
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="youtube" <% if (options.youtube) { %>checked<% } %>>
          Youtube videolarını uygulama içerisinde göster
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="images" <% if (options.images) { %>checked<% } %>>
          Resimleri uygulama içerisinde göster
        </label>
      </div>

    </div>

  </div>

  <div class="panel panel-default">

    <div class="panel-heading">

      <h4 class="panel-title">Kanallar</h4>

      <em>Kanallar menüsünde görmek istediğiniz kanal listesi</em>

    </div>

    <div class="panel-body">

      <% _.map(channels, function(channel) { %>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="channel" data-channel="<%= channel %>" <% if (options.channels.indexOf(channel) >= 0) { %>checked<% } %>>
          <%= channel %>
        </label>
      </div>

      <% }); %>

    </div>
  </div>

  <div class="panel panel-default">

    <div class="panel-heading">

      <h4 class="panel-title">Fişlemiş kullanıcılar</h4>

      <em>Kullanıcı adının yanında etiketini de görmenizi sağlar.</em>

    </div>

    <div class="panel-body">

      <div class="form-group">
        <select multiple id="usertag-list" class="form-control"></select>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="tag_ak_trolls" <% if (options.tag_ak_trolls) { %>checked<% } %>>
          Ak trolleri otomatikman fişle
        </label>
      </div>

      <div class="btn-group">
        <a class="btn btn-default" href="#" data-toggle="modal" data-target="#add-usertag-modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ekle</a>
        <a id="remove-usertag-button" class="btn btn-default" href="#"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> Çıkar</a>
      </div>

    </div>

  </div>

  <div class="btn-group btn-group-justified">
    <a class="btn btn-default" href="#about">Hakkında</a>
    <a class="btn btn-default" href="https://github.com/onuraslan/EksiOkuyucu" target="_blank">Proje ana sayfası</a>
  </div>

</div>
