<div class="eksi-okuyucu-conf">

<div class="entry">

<div class="content">

<h4>Tema</h4>

  <ul class="theme">
    <li><a href="#default" class="theme-default"></a></li>
    <li><a href="#dark" class="theme-dark"></a></li>
  </ul>

</div>

</div>


<div class="entry">

<div class="content">

<h4>İçerik</h4>

<div class="checkbox">
  <label>
    <input type="checkbox" value="popover" <% if (options.popover) { %>checked<% } %>>
    İç bağlantıların ilk entrysini kutu içerisinde göster
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="readability" <% if (options.readability) { %>checked<% } %>>
    Dış bağlantıları uygulama içerisinde göster
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="youtube" <% if (options.youtube) { %>checked<% } %>>
    Youtube videolarını uygulama içerisinde göster
  </label>
</div>

<div class="checkbox">
  <label>
    <input type="checkbox" value="images" <% if (options.images) { %>checked<% } %>>
    Resimleri uygulama içerisinde göster
  </label>
</div>

</div>

</div>

</div>
