<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="login-modal-label">Giriş yap</h4>
      </div>
      <div class="modal-body">
        <form class="form-signin" role="form">
          <div class="alert alert-danger hidden" role="alert">
            Hatalı kulanıcı adı veya şifresi
          </div>
          <input id="login-email" type="email" class="form-control" placeholder="Email adresi" required autofocus>
          <input id="login-password" type="password" class="form-control" placeholder="Şifre" required>
          <div class="checkbox">
            <label>
              <input id="login-remember-me" type="checkbox"> Beni hatırla
            </label>
          </div>
          <p>Eğer bu forma güvenmiyorsanız <a href="https://eksisozluk.com/giris"><span class="glyphicon glyphicon-globe"></span> eksisozluk.com</a> üzerinden de giriş yapabilirsiniz.</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary" id="login-button">Giriş</button>
      </div>
    </div>
  </div>
</div>
