

<% _.each(entries, function (entry) { %>

<div class="entry border-color-1" id="entry-<%= entry.id %>">

  <% if (typeof (entry_title) != 'undefined') { %>

  <h4 class="entry-title"><a href="#t/2/<%= external_url %>"><%= entry_title %></a></h4>

  <% } %>

  <p id="entry-content-<%= entry.id %>" class="content">
    <%= entry.content %>
  </p>

  <div class="meta">

    <div class="row">
      <div class="col-xs-6 col-md-6 meta-left">

        <div class="dropdown">
          <a href="#" role="button" class="dropdown-toggle author" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span> <%= entry.author %>
          </a>

          <span class="time">
            -
            <%= entry.creationTime %>
          </span>

          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header"><%= entry.author %></li> 
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tl/biri/<%= entry.author %>/son-entryleri">Son entryleri</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tl/biri/<%= entry.author %>/en-begenilenleri">En beğenilenleri</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tl/biri/<%= entry.author %>/favorilenen-entryleri">En çok favorilenen enyryleri</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tl/biri/<%= entry.author %>/son-oylananlari">Son oylananları</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#tl/biri/<%= entry.author %>/favori-entryleri">Favori entryleri</a></li>
          </ul>
        </div>

      </div>
      <div class="col-xs-6 col-md-6 text-right meta-right">

        <div class="btn-group btn-group-xs">
          <a href="#favori" class="btn btn-default <%= entry.isFavorite ? 'isfavorite' : 'default' %>" title="Favori"><span class="glyphicon glyphicon-star"></span><%= entry.favoriteCount ? ' ' + entry.favoriteCount : '' %></a>
          <a href="#sukela" class="btn btn-default default" title="Şükela"><span class="glyphicon glyphicon-heart"></span></a>
        </div>
        
      </div>
    </div>

  </div>

</div>

<% }); %>
