<li role="presentation" class="dropdown-header"><%= user %></li> 
<li role="presentation"><a role="menuitem" tabindex="-1" href="#tl/biri/<%= user %>/favori-entryleri">Favori entrylerim</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#tl/biri/<%= user %>/son-entryleri">Son entrylerim</a></li>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#logout">Terk</a></li>
<li role="presentation" class="divider">Olay</li> 
<li role="presentation" class="dropdown-header">Olay</li> 
<% _.each(entries, function (entry) { %>
<li role="presentation"><a role="menuitem" tabindex="-1" href="#t/<%= entry.snapshot + entry.url %>"><%= entry.title %></a></li>
<% }); %>
